button {
    height: 3px;
    width: 3px;
    outline: none;
}

body {
    width: 230px;
    background-color: rgba(122, 159, 173, 0.664);
}

h1{
    font-size : 18px;
    text-align: center;
}

/* Class */ 


.popup_name{
    text-align: center;
    font-size : 20px;
}

#co2_score{
    text-align: center;
    font-size: 12px;
}

#equivalent_to{
    text-align: center;
}

.links{
    text-align: center;
}

.donation{
    text-align: start;
}

.website{
    text-align: end;
}



.options_div {
    background-color: yellow;
}


.today_data {
    width: auto;
    background-color: blue;

}

.yesterday_data{
    width: auto;
    background-color: red;
}